body {
  --tomato: tomato;
  --teal: teal;
  background-color: var(--tomato);
}

.title {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 60px;
  font-size: 4.5rem;
 
}

.pos{
  display: flex;
  align-items: center;
  justify-content: center;
}
